@model IEnumerable<testing.Models.Patient>

@{
    ViewData["Title"] = "Пациенты клиники";
}
<div class="container">
    <div class="container plug-50"></div>
<h1 class="text-center mb-lg-5">Пациенты клиники</h1>

<div class="row m-auto justify-content-between">
<input class="form-control col-4 mb-4" type="text" id="search_fname" onkeyup="myFunction(this.id, p_table.id)" placeholder="Поиск...">
<a asp-area="Manager" asp-action="Create"><button type="button" class="btn btn-primary">Создать</button></a></div>
<table class="table" id="p_table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Управление</th>
        </tr>
    </thead>
    <tbody>
@foreach (var (item,i) in Model.Select((value,i)=>(value,i+1))) {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td id="address_td">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-area="Manager" asp-action="Details" asp-route-id="@item.UserId">Подробнее</a> |
                <a asp-area="Manager" asp-action="Edit" asp-route-id="@item.UserId">Редактировать</a> 
            </td>
        </tr>
}
    </tbody>
<script src="~/js/page_search.js"></script>
</table>
</div>
