@model IEnumerable<testing.Models.Manager>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mb-lg-5">Менеджеры клиники</h1>

<div class="row m-auto justify-content-between">
<input class="form-control col-4 mb-4" type="text" id="search_fname_doctor" onkeyup="myFunction(this.id, m_table.id)" placeholder="Поиск...">
<a asp-area="Admin" asp-action="Create"><button type="button" class="btn btn-primary">Создать</button></a></div>
<table class="table" id="m_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentDate)
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentDate)
            </td>
            <td><div class="dropdown open">
            <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="triggerId1">
                <a asp-action="Details" asp-route-id="@item.UserId" class="dropdown-item" ><i class="fa fa-circle-question mr-1"></i> Подробнее</a>
                <a asp-action="Edit" asp-route-id="@item.UserId" class="dropdown-item" ><i class="fa fa-pencil mr-1"></i> Редактировать</a>
                <a asp-action="Delete" asp-route-id="@item.UserId" class="dropdown-item text-danger" ><i class="fa fa-trash mr-1"></i>Удалить</a>
            </div>
        </div>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/js/page_search.js"></script>
