@model testing.Models.Declaration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Declaration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medcard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medcard.PatientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MedcardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
