@model IPagedList<testing.Models.Allmeeting>
@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = ManageNavPages.History;
}
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList;
@using testing.Areas.Patient.Views.Shared

<h2 class="text-center mb-lg-5">Ваши посещения</h2>
<div class="d-flex justify-content-center">
    @foreach (var history_record in Model)
    {
        var completed = history_record.AppointmentId != null ? true : false;
        var department = history_record.Depname;
        var date = history_record.Appdate;
        var diagnosis = history_record.Diagnosis ?? "Отсутствует";
        var doctor_fullname = history_record.Lastname +
            ' ' + history_record.Firstname +
            ' ' + history_record.Patronymic;
        <div class=" history_card card border-primary mb-3 m-2">
            <div class=" card-header d-flex font-weight-bold justify-content-around px-0">
                @department
                @if (completed)
                {
                    <span class="badge badge-success">Завершен</span>
                }
                else
                {
                    if (history_record.Appdate < DateTime.Now)
                    {
                        <span class="badge badge-danger">Пропущен</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Ожидается</span>
                    }
                }
                    </div>
            <div class="card-body text-dark">
                <h5 class="card-title">Врач: @doctor_fullname</h5>
                <p class="card-text">Диагноз: @diagnosis</p>
                <p class="card-text">Дата: @date.ToString("dd/MM/yy HH:mm")</p>
                @if (completed)
                {
                <a asp-action="Details"  asp-route-id="@history_record.AppointmentId" class="btn btn-primary">Подробнее...</a>
                }
            </div>
        </div>
    }
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
    new Bootstrap4PagedListRenderOptions
    {
        UlElementClasses = new string[] { "pagination", "justify-content-center" },
        LiElementClasses = new string[] {"page-item"},
        ActiveLiElementClass = "active",
        MaximumPageNumbersToDisplay = 5
    }
    )
