
@model IPagedList<testing.Models.DaySchedule>
@{
    ViewData["Title"] = "Index";


}

@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList;
<h1>Index public</h1>

<div class="container">

            <div class="row">
            <!-- CHECKBOX LIST -->
            @foreach(var date in Model)
            {

                <div class="col schedule my-4 ">
            <div class="bg-light-gray h-100 card rounded border-1 shadow-sm position-relative">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4 pb-4 border-bottom border-dark">
                        <i class="far fa-calendar-alt fa-3x"></i>
                        <div class="ms-3">
                            <h4 class="text-uppercase fw-weight-bold mb-0">@date.Date.DayOfWeek</h4>
                            <p class="text-gray fst-italic mb-0">@date.Date.ToLongDateString()</p>
                        </div>
                    </div>
                    @foreach(var time in date.records)
                    {
                        @if (time.Id != null)
                        {
                        <a class="my-2" href="#"><button disabled class=" bg-danger padding-5px-tb padding-15px-lr border-0 margin-10px-bottom text-white font-size16 xs-font-size13">@time.DateTime.ToString("HH:mm")</button></a>                    
                        }
                        else
                        {
                        <a class="my-2" href="#"><button class="button bg-sky border-0 padding-5px-tb padding-15px-lr  margin-10px-bottom text-white font-size16 xs-font-size13">@time.DateTime.ToString("HH:mm")</button></a>                    
                        }
                    }
                        </div>
                </div>
            </div>
            }
 </div>       
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
    new Bootstrap4PagedListRenderOptions
    {
        UlElementClasses = new string[] { "pagination", "justify-content-center" },
        LiElementClasses = new string[] {"page-item"},
        ActiveLiElementClass = "active",
        MaximumPageNumbersToDisplay = 5
    }
    )