
@model IPagedList<testing.Models.DaySchedule>
@{
    ViewData["Title"] = "Index";

    var dateinfo = DateTimeFormatInfo.CurrentInfo;
    var doc_rec = ViewData["Doctor"] as Doctor;
    var doc_name = @doc_rec.Lastname + ' ' + @doc_rec.Firstname + ' ' + @doc_rec.Patronymic;


}

@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList;
@using System.Globalization;
@if (TempData["AppInfo"] != null)
{
    var alertType = TempData.ContainsKey("Success") ? "success" : "danger";
    <div class="alert alert-@alertType alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="container">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mx-3">
        <li class="breadcrumb-item"><a href="#">Главная</a></li>
        <li class="breadcrumb-item"><a href="#">Врачи</a></li>
        <li class="breadcrumb-item active" aria-current="page">@doc_name</li>
    </ol>
</nav>
<script src="https://kit.fontawesome.com/1a4d651aec.js" crossorigin="anonymous"></script><div class="container">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div id="myModalContent"></div>
    </div>
    <div class="row">
        <div class="col-sm-3 justify-content-center">
            <div class="container">
                <img class="card-img" src="~/img/img3.jpg" id="profile-img" />
            </div>
            <div class="social text-center ml-5">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>

        </div>
        <div class="col ml-4 mt-4">
            <div class="row">
                <h5 class="text-muted">@doc_rec.Role.Name</h5>
            </div>
            <div class="row">
                <h5>@doc_name</h5>
            </div>
            <div class="row mt-4">
                <h6 class="text-muted">Отделение:&nbsp; </h6><h6> @doc_rec.Department.Name</h6>
            </div>
            <div class="row">
                <h6 class="text-muted">Стаж работы:&nbsp; </h6><h6> @doc_rec.Experience лет</h6>
            </div>
        </div>
        <div class="col">
            <div class="row m-4"><h6 class="text-muted">Краткая биография:</h6><h6 class="text-justify">@doc_rec.About</h6></div>
        </div>
    </div>
    <div class="row">
        <!-- CHECKBOX LIST -->
        @foreach (var date in Model)
        {

            <div class="col schedule my-4 w-50 mw-50">
                <div class="bg-light-gray h-100 card rounded border-1 shadow-sm position-relative">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4 pb-4 border-bottom border-dark">
                            <i class="fa-regular fa-calendar fa-3x"></i>
                            <div class="ms-3 ml-1">
                                <h4 class="text-uppercase fw-weight-bold mb-0">@dateinfo.GetDayName(date.Date.DayOfWeek)</h4>
                                <p class="text-gray fst-italic mb-0 ml-1">@date.Date.ToLongDateString()</p>
                            </div>
                        </div>
                        @foreach (var time in date.records)
                        {
                            @if (time.Id != null)
                            {
                            }
                            else
                            {
                                <button type="button" data-id="@time.ScheduleId" doctor-id="@time.DoctorId" class="time-button button time border-0 padding-5px-tb padding-15px-lr  margin-10px-bottom text-white font-size16 xs-font-size13 my-2">@time.DateTime.ToString("HH:mm")</button>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, userId = ViewData["UserId"] }),
        new Bootstrap4PagedListRenderOptions
        {
            UlElementClasses = new string[] { "pagination", "justify-content-center" },
            LiElementClasses = new string[] { "page-item" },
            ActiveLiElementClass = "active",
            MaximumPageNumbersToDisplay = 5
        }
        )
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $('.alert').alert();
        var detailUrl = '/Patient/Appointment/Create';
        $(function () {
            $(".time-button").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var doc_id = $buttonClicked.attr('doctor-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: detailUrl,
                    contentType: "application/json; charset=utf-8",
                    data: { "ScheduleId": id, "DoctorId": doc_id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
        });

    </script>
</div>
</div>