@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model testing.ViewModels.HistoryVM;
@{
    var app = ViewData["app"] as Appointment;
    var patient = app.Medcard.Patient;
    var age = DateTime.Now.Year - patient.DateOfBirth.Year;
}
@if (TempData["Notify"] != null)
{
    var alertType = TempData.ContainsKey("Success") ? "success" : "danger";
    <div class="alert alert-@alertType alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row text-center my-4">
    <div class="col m-auto">
<h1>Обработка приема</h1>
    </div>
    </div>
<div class="row-md-6">
    <div class="col-md-8 m-auto">
        <div class="row">
            <div class="col">
            <div class="row">
                <div class="col">
                <h5><span class="text-muted">Пациент: </span>@patient.Lastname @patient.Firstname @patient.Patronymic</h5>
            </div>
            </div>
            <div class="row">
            <div class="col">
                <h5><span class="text-muted">Возраст: </span> @age года </h5>
        </div>
        </div>
            <div class="row">
            <div class="col">
                <h5><span class="text-muted">Жалоба: </span> @app.Info </h5>
        </div>
        </div>
            </div>
        </div>
        <div class="row">
<div class="container">

    @using (@Html.BeginForm("Create", "History", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.appointmentId)
        <div class="form-row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Diagnosis" class="control-label"></label>
                    <input asp-for="Diagnosis" class="form-control" />
                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col align-items-center">
                <h5>Добавить медикаменты<a id="add_row_meds" class="btn hoverable mt-0 pt-1"><i class="fa-solid fa-plus text-success mt-0"></i></a></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.Partial("/Areas/Doctor/Views/History/_AddMedication.cshtml", new Historymedication() { HistoryId = app.Id })
            </div>
            </div>
            <div class="row">
                <div class="col" id="addMoreMeds"></div>
        </div>
        <div class="row">
            <div class="col align-items-center">
                <h5>Добавить документ<a id="add_row_docs" class="btn hoverable mt-0 pt-1"><i class="fa-solid fa-plus text-success mt-0"></i></a></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.Partial("/Areas/Doctor/Views/History/_AddDocument.cshtml", new Historydocument() { HistoryId = app.Id })
            </div>
            </div>
            <div class="row">
                <div class="col" id="addMoreDocs"></div>
        </div>
        <div class="row">
            <div class="col align-items-center">
                <h5>Добавить процедуры<a id="add_row_procs" class="btn hoverable mt-0 pt-1"><i class="fa-solid fa-plus text-success mt-0"></i></a></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.Partial("/Areas/Doctor/Views/History/_AddProcedure.cshtml", new Historyprocedure() { HistoryId = app.Id })            </div>
            </div>
            <div class="row">
                <div class="col" id="addMoreProcs"></div>
        </div>
            <div class="form-group float-right">
    <input type="submit" value="Создать" class="btn btn-primary"/>
        </div>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      $('#add_row_meds').on('click', function () {
        $.ajax({
            url: '@Url.Action("AddMedication", "History")',
            type: 'GET',
            data: {
                h_id: @Model.appointmentId
            },
            success: function (result) {
                $('#addMoreMeds').append(result);
            },
            error: function () {
            }
        });
        });
    </script>
        <script type="text/javascript">
      $('#add_row_docs').on('click', function () {
        $.ajax({
            url: '@Url.Action("AddDocument", "History")',
            type: 'GET',
            data: {
                "h_id": @Model.appointmentId
            },
            success: function (result) {
                $('#addMoreDocs').append(result);
            },
            error: function () {
            }
        });
    });
        </script>
        <script>
      $('#add_row_procs').on('click', function () {
        $.ajax({
            url: '@Url.Action("AddProcedure", "History")',
            type: 'GET',
            data: {
                "h_id": @Model.appointmentId
            },
            success: function (result) {
                $('#addMoreProcs').append(result);
            },
            error: function () {
            }
        });
    });
</script>


 </div>
        </div>
    </div>
</div>
